# start local mysql server
https://medium.com/@crmcmullen/how-to-run-mysql-in-a-docker-container-on-macos-with-persistent-local-data-58b89aec496a

In [29]:
import pymysql
import pandas as pd
import numpy as np
from faker import Faker
from pandas.io import sql
import random, string
from sqlalchemy.types import Integer, Text, String, DateTime
from sqlalchemy import create_engine

# Fake data

In [12]:
fake = Faker()


def create_impressions(num):
    output = [{
               "dt": fake.date_time_between(start_date='-10d', end_date='now'),
               "user_id": random.randint(720, 725),
               "campign_id": random.randint(305, 309),
    "impression_id": (random.choice(string.ascii_lowercase) + random.choice(string.digits))*3,

     }
     for x in range(num)]
    return output

def create_campaigns(num):
    output= [{
        "id": random.randint(305, 309),
        "start_dt": fake.date_time_between(start_date='-100d', end_date='-10d'),
               "end_dt": fake.date_time_between(start_date='+100d', end_date='+10d'),

               "target_impression": 20000

     }


              for x in range(num)]
    return output

In [13]:

impression_faker = pd.DataFrame(create_impressions(5000))
campaign_faker = pd.DataFrame(create_campaigns(5))

# insert data

In [38]:

db_uri = "mysql+mysqlconnector://root:admin@localhost:3306/marketing"

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="admin",
                               db="marketing"))

In [42]:
campaign_faker.to_sql('campaigns', con = engine, if_exists = 'replace', chunksize = 1000,index= False)

In [45]:
impression_faker.to_sql('impressions', con = engine, if_exists = 'replace', chunksize = 1000,index= False)

In [60]:
query = 'select distinct campign_id from impressions'
pd.read_sql(query,engine)

   campign_id
0         307
1         306
2         308
3         309
4         305

In [64]:
query = 'select * from campaigns'
pd.read_sql(query,engine)

    id            start_dt              end_dt  target_impression
0  306 2020-12-03 13:49:06 2021-06-02 15:30:14              20000
1  305 2021-02-08 09:32:51 2021-06-02 15:30:13              20000
2  307 2020-12-28 07:47:06 2021-06-02 15:30:14              20000
3  309 2020-12-19 14:21:10 2021-06-02 15:30:13              20000
4  308 2020-11-29 15:00:10 2021-06-02 15:30:14              20000

In [63]:
query = "update campaigns set id = 308 where start_dt = '2020-11-29 15:00:10'"
engine.execute(query)

In [68]:
query = 'desc impressions'
pd.read_sql(query,engine)

           Field      Type Null  Key Default Extra
0             dt  datetime  YES         None
1        user_id    bigint  YES         None
2     campign_id    bigint  YES  MUL    None
3  impression_id      text  YES         None

In [67]:
query = 'ALTER TABLE impressions ADD CONSTRAINT fk_c_id FOREIGN KEY (campign_id) REFERENCES campaigns(id)'
engine.execute(query)

In [65]:
query = "alter table campaigns ADD UNIQUE(id)"
engine.execute(query)

In [89]:
query = '''
select c.id, (count(1)/c.target_impression)* 100
from campaigns as c
join impressions as i on i.campign_id = c.id
where i.dt between now() - interval 7 day and now()
group by c.id
'''
pd.read_sql(query,engine)

    id  (count(1)/c.target_impression)* 100
0  306                                 3.51
1  305                                 3.32
2  307                                 3.56
3  309                                 3.33
4  308                                 3.28